---
// Header.astro
import { tPath, t } from '../lib/translations';
const { lang } = Astro.props;
---
<header class="header">
  <nav class="navbar">
    <div class="nav-container">
      <div class="nav-logo">
        <h2><img
            src="/images/BideDigitala.png"
            alt="BideDigitala Logo"
            class="logo-img"
            width="300"
          />
        </h2>
      </div>
      <a href={`/${lang}/`} class="nav-link">{t(lang,'nav.home')}</a>
      <ul class="nav-menu">
        <li class="nav-item"><a href={`/${lang}#inicio`} class="nav-link">{t(lang,'nav.inicio')}</a></li>
        <li class="nav-item"><a href={`/${lang}#arazoak`} class="nav-link">{t(lang,'nav.problemas')}</a></li>
        <li class="nav-item"><a href={`/${lang}#balio-proposamena`} class="nav-link">{t(lang,'nav.valor')}</a></li>
        <li class="nav-item"><a href={`/${lang}#zerbitzuak`} class="nav-link">{t(lang,'nav.servicios')}</a></li>
        <li class="nav-item"><a href={`/${lang}#harremana`} class="nav-link">{t(lang,'nav.contacto')}</a></li>
      </ul>
      <div class="nav-toggle">
        <span class="bar">Item</span>
        <span class="bar">Item</span>
        <span class="bar">Item</span>
      </div>
    </div>
  </nav>
</header>

